<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>¡Bienvenido, {{ username }}!</h1>
    
    <p>¿Qué quieres hacer?</p>

    <h2>Gestión de Entrenamiento</h2>
    <ul>
        <li><a href="/routines">Gestionar mis Rutinas</a></li>
        <li><a href="/sessions">Gestionar mis Sesiones (bloques)</a></li>
    </ul>
    <hr>
    <h2>Planes y Compras</h2>
    
    {% if role == "TRAINER" %}
        <ul>
            <li><a href="/plans/my-creations/">Gestionar mis planes creados</a></li>
            <hr>
            <li><a href="/plans/">Ver catálogo de otros planes</a></li>
            <li><a href="/plans/my-plans/">Ver mis planes comprados</a></li>
        </ul>
        
    {% elif role == "USER" %}
        <ul>
            <li><a href="/plans/">Ver catálogo de planes</a></li>
            <li><a href="/plans/my-plans/">Ver mis planes comprados</a></li>
        </ul>
        
    {% endif %}
    
</body>
</html>