{% extends "base.html" %}

{% block title %}Detalle de Rutina{% endblock %}

{% block content %}

<h2>{{ routine.name }}</h2>

<article>
    <h3>Sesiones incluidas</h3>
  <ul>
    {% for s in routine.sessions %}
      <li>
        <strong>{{ s.session_name }}</strong>
        <ul>
          {% for ex in s.exercises %}
            <li>
                {{ ex.exercise_name }}:
                {% if ex.target_weight %}{{ex.target_weight}}Kg -{% endif %}
                {{ ex.target_sets }} x {{ ex.target_reps }}
            </li>
          {% else %}
            <li><em>Sin ejercicios</em></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}  
      <li><em>No hay sesiones asignadas</em></li>
    {% endfor %}
  </ul>
</article>

<a href="/routines" role="button">⬅ Volver</a>

{% endblock %}