{% extends "base.html" %}
{% block title %}{{ session.session_name }}{% endblock %}

{% block content %}
<a href="/sessions">⬅ Volver a Sesiones</a>
<h1>{{ session.session_name }}</h1>

<h2>Ejercicios en esta sesión</h2>

{% if session.exercises %}
    <ul>
    {% for ex in session.exercises %}
        <li>
            <strong>{{ ex.exercise_name }}</strong>
            ({{ ex.target_sets }} series de {{ ex.target_reps }} reps 
            
            {% if ex.target_weight %}
                con {{ ex.target_weight }}kg
            {% endif %} 
            )
            
            <form action="/sessions/exercise/{{ ex.id }}/delete" method="post" style="display: inline; margin-left: 10px;">
                <button type="submit" style="background: transparent; border: none; color: red; cursor: pointer; padding: 0;">
                    &times;
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Esta sesión todavía no tiene ejercicios.</p>
{% endif %}

<hr>

<h3>Añadir nuevo ejercicio</h3>
<form action="/sessions/{{ session.id }}/add_exercise" method="post">
    <label>Nombre del Ejercicio:</label>
    <input type="text" name="exercise_name" required>
    
    <label>Series (Sets):</label>
    <input type="number" name="target_sets" required>
    
    <label>Repeticiones (Reps):</label>
    <input type="number" name="target_reps" required>
    <label>Peso (Kg) (Opcional):</label>
    <input type="number" step="0.1" name="target_weight">

    <button type="submit">Añadir Ejercicio</button>
</form>

<hr style="margin-top: 2em; margin-bottom: 2em;">

<h2>Zona de Peligro</h2>
<form action="/sessions/{{ session.id }}/delete" method="post">
    <button type"submit" style="background-color: #d9534f; border-color: #d43f3a; color: white;">
        Eliminar esta sesión permanentemente
    </button>
</form>

{% endblock %}