{% extends "base.html" %}
{% block title %}Sesiones{% endblock %}
{% block content %}
<h1>Mis Sesiones</h1>
<a href="/sessions/new" role="button">Nueva Sesión</a>
<hr>
<ul>
    {% for session in sessions %}
        <li>
            <a href="/sessions/{{ session.id }}">{{ session.session_name }}</a>
            
            <a href="/track/session/{{ session.id }}" role="button" 
               style="display: inline-block; padding: 5px 10px; font-size: 0.8em; margin-left: 15px; text-decoration: none;">
                ▶ Empezar
            </a>
            </li>No hay sesiones creadas.</li>
    {% endfor %}
</ul>
{% endblock %}